:host {
  display: block;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: #FAFAFA;
  padding: 0 8px;
}

p {
  font-size: 12px;

  &.empty {
    color: #999;
  }
}

