<ul class="horizontal">
  <li>
    <button routerLink="hot-cold">Hot/Cold Observables</button>
  </li>
  <li>
    <button routerLink="immutable">Immutability</button>
  </li>
  <li>
    <button routerLink="operator">Custom Operator</button>
  </li>
  <li>
    <button routerLink="subjects">Subject</button>
  </li>
  <li>
    <button routerLink="behavior-subject">BehaviorSubject</button>
  </li>
  <li>
    <button routerLink="replay-subject">ReplaySubject</button>
  </li>
  <li>
    <button routerLink="memory-leak">Memory Leak</button>
  </li>
</ul>
