html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'segoe ui', sans-serif;
  font-size: 16px;
  background-color: beige;
  color: #333;
}

button {
  border: 1px solid #999;
  background-color: bisque;
  color: #333;
  padding: 8px 12px;
  border-radius: 3px;
}
